<ion-tabs >

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1" class="changecolor">
      <ion-icon img src="assets/icon/info.svg"></ion-icon>

      <!-- <ion-label>من نحن</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="changecolor">
      <ion-icon img src="assets/icon/disease.svg"></ion-icon>

     <!-- <ion-label>الأمراض</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="changecolor">
      <ion-icon img src="assets/icon/Home.svg"></ion-icon>
      <!-- <ion-label> الصفحة الرئيسية</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
