@font-face{
    font-family: 'Changa', sans-serif;
    font-weight:normal ;
    font-style: normal;
    src:url('../assets/fonts/CHANGA-REGULAR.TTF');
    src:url('../assets/fonts/CHANGA-BOLD.TTF');
    src:url('../assets/fonts/CHANGA-EXTRABOLD.TTF');
    src:url('../assets/fonts/CHANGA-EXTRALIGHT.TTF');
    src:url('../assets/fonts/CHANGA-LIGHT.TTF');
    src:url('../assets/fonts/CHANGA-MEDIUM.TTF');
    src:url('../assets/fonts/CHANGA-SEMIBOLD.TTF');
}
