<ion-header  [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
    الصفحة الرئيسية
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>أعراض كسل الغدة الدرقية</ion-card-title>
    
    </ion-card-header>
    <hr>
    
    <ion-card-content  >
      <img src="assets/imgs/diseases.svg"/>
        <div> قد تصاب الغدة الدرقية بخلل يجعلها تفرط 
        نشاطها أو يجعلها تصبح كسولة! فما هي 
       اعراض كسل الغده الدرقيه التي عليك
      معرفتها؟ 
          </div>
              </ion-card-content>
  </ion-card>

</ion-content> 
